<div class="container">
    <div class="card" *ngIf="mode == 1">
        <div class="card-header" style="color: cornflowerblue;">
            <strong>
                <h5> Ajouter un nouveau contact </h5>
            </strong>
        </div>
        <div class="card-body">
            <div class="form-group">
                <form #f="ngForm" (ngSubmit)="saveContact(f.value)">

                    <label>Nom</label>
                    <input class="form-control" type="text" placeholder="Entrez le nom ici!" ngModel name="nom"
                        required>
                    <label>Prenom</label>
                    <input class="form-control" type="text" placeholder="Entrez le prénom ici" ngModel name="prenom"
                        required>
                    <label>Date de naissance</label>
                    <input class="form-control" type="date" ngModel name="dateNaissance" required>
                    <label>Email</label>
                    <input class="form-control" type="email" placeholder="Entrez l'Email ici" ngModel name="email"
                        required email>
                    <label>Télephone personnel</label>
                    <input class="form-control" type="text" placeholder="Entrez le numéro de téléphone ici" ngModel
                        name="tel" required>
                    <br>
                    <div>
                        <button [disabled]="!f.valid" type="submit" class="btn btn-primary">Sauvegarder</button>
                    </div>
                </form>
            </div>

        </div>

    </div>


    <div class="card" *ngIf="mode == 2">

        <div class="card-header" style="color: cornflowerblue;">
            <strong>
                <h5> Confirmation d'ajout du contact</h5>
            </strong>
        </div>
        <div class="card-body">
            <div class="alert alert-primary" role="alert">
               Le contact a bien été ajouté.
            </div>
        </div>
        <div class="card-body">
            <form>
                <div class="form-group">
                    <label><strong> ID: </strong> &nbsp;</label>
                    <label> {{contact.id}}</label>
                </div>

                <div class="form-group">
                    <label><strong> Nom: </strong> &nbsp;</label>
                    <label> {{contact.nom}}</label>
                </div>

                <div class="form-group">
                    <label> <strong> Prenom: </strong> &nbsp;</label>
                    <label>{{contact.prenom}}</label>
                </div>

                <div class="form-group">
                    <label><strong>Date de naissance:</strong> &nbsp;</label>
                    <label>{{contact.dateNaissance | date: 'dd/MM/yyyy'}}</label>
                </div>

                <div class="form-group">
                    <label><strong> Email: </strong> &nbsp;</label>
                    <label>{{contact.email}}</label>
                </div>

                <div class="form-group">
                    <label><strong>Téléphone personnel:</strong>&nbsp; </label>
                    <label>{{contact.tel}}</label>
                </div>

            </form>


            <div>
                <button type="button" class="btn btn-primary" (click)="mode=1">Nouveau contact</button>
            </div>
        </div>

    </div>
</div>